doctype html
html(lang="en")
  include head
  body
    div#container
      include header
      section#cover
        article(itemscope itemtype="http://schema.org/Person")
          #portrait
            a(itemprop="url" href="http://www.flickr.com/photos/michaelnisi/sets/72157626923470332/")
              img(itemprop="image" src="/img/michael_2x.jpg" alt='Michael Nisi')
          != content
          ul#icons
            each icon in icons
              li
                a(itemprop="url" href= icon.href)
                  img(src= icon.src)
    include footer
    include scripts
