!!! 5
html(lang="en")
  include head
  body
    div#container
      include header
      section#cover
        article
          #portrait
            a#michael(href="http://www.flickr.com/photos/michaelnisi/sets/72157626923470332/")
          !{content}
    include footer
    include scripts
