doctype html
html(lang="en")
  include head
  body
    div#container
      include header
      section#cover
        article(itemscope itemtype="http://schema.org/Person")
          #portrait
            img(itemprop="image"
                srcset="/img/michael_1x.jpg, /img/michael_2x.jpg 2x, /img/michael_3x.jpg 3x"
                src="/img/michael_1x.jpg"
                alt='Michael Nisi')
          != content
          ul#icons
            each icon in icons
              li
                a(itemprop="url" href= icon.href)
                  img(src= icon.src)
    include footer
    include scripts
