doctype html
html(lang="en")
  include head
  body
    div#container
      include header
      section#cover
        article
          a(href= name)
            h2= title
          p#summary= description
          != content
    include footer
    include scripts
