doctype html
html(lang="en")
  include head
  body
    div#container
      include header
      section#cover
        article(itemscope itemtype="http://schema.org/Article")
          a(href= name itemprop="url")
            h2(itemprop="name")= title
          p#summary(itemprop="about")= description
          != content
    include footer
    include scripts
