footer#page_footer
  :markdown
    Thank you for reading. You find me on [Twitter](http://twitter.com/michaelnisi) and [GitHub](https://github.com/michaelnisi).
  
  ul#smallprint
    li
      Copyright &copy; 2011–2012 Michael Nisi
    li
      a(href='/rss.xml')
        img#rss(src='/img/rss.png')
