footer#page_footer
  nav
    ul
      li
        a(href='http://twitter.com/michaelnisi/') TWITTER
      li
        a(href='https://github.com/michaelnisi/') GITHUB
      li 
        a(href='http://flickr.com/photos/michaelnisi/') FLICKR
      li 
        a(href='http://vimeo.com/user5635710/likes/') VIMEO
      li 
  
  p#copyright Copyright &copy; 2011 Michael Nisi


