footer#page_footer
  :markdown
    Thank you for reading. Find me on [Twitter](http://twitter.com/michaelnisi) or [GitHub](https://github.com/michaelnisi).

  ul#smallprint
    li
      a(href='http://creativecommons.org/licenses/by-sa/3.0/') CC BY-SA 3.0
    li
      a(href='/rss.xml')
        img#rss(src='/img/Feed-icon.svg', alt='RSS')
