footer#page_footer
  nav
    ul
      li
        a(href='http://twitter.com/michaelnisi/') @michaelnisi
      li
        a(href='https://github.com/michaelnisi/') github
      li 
        a(href='http://flickr.com/photos/michaelnisi/') flickr
      li 
        a(href='http://vimeo.com/user5635710/likes/') vimeo
      li 
        a(href='http://zoo.tl/u/michaelnisi/') Zootool
  
  p#copyright Copyright &copy; 2011 Michael Nisi


