header
  section#tweet
    p Oh Hello!
  a(href='/')
   h1 THE TROUBLED PROGRAMMER
  p= dateString
  nav
    ul
      li
        a(href='/') HOME
      li
        a(href='/about') ABOUT
      li
        a(href='/archive') ARCHIVE



