head
  title !{title}

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='description', content='Notes about programming and such')
  meta(name='author', content='Michael Nisi')
  meta(name='viewport', content='initial-scale=1')

  link(rel='stylesheet', href='/css/style.css', type='text/css')
  link(rel='stylesheet', href='/css/solarized_light.css', type='text/css')
  link(rel='alternate', type='application/rss+xml', title='RSS', href='/rss.xml')
  link(rel='shortcut icon', href='/img/favicon.ico?version=0.0.1')
  
  script(src='//use.typekit.net/jib8hpp.js').
  script().
    try{Typekit.load();}catch(e){}
  script(src='/js/libs/modernizr-2.5.3.min.js').
