header
  section#tweet
    p Making is thinking.
  a(href='/')
   h1 THE TROUBLED PROGRAMMER
  time(itemprop="dateModified" datetime= date.toISOString())= dateString
  nav
    ul
      li
        a(href='/') HOME
      li
        a(href='/about.html') ABOUT
      li
        a(href='/archive.html') ARCHIVE
