header
  a(href='/')
   h1 The Troubled Programmer
  time(itemprop="dateModified" datetime= date.toISOString())= dateString
  nav
    ul
      li
        a(href='/podest.html') Products
      li
        a(href='/archive.html') Archive
      li
        a(href='/about.html') About
