doctype html
html(lang="en")
  include head
  body  
    div#container
      include header
      - if (latestItem)
        section#cover
          article(itemscope itemtype="http://schema.org/Article")
            a(itemprop="url" href= latestItem.link)
              h2(itemprop="headline")= latestItem.title
            p#summary(itemprop="about")= latestItem.description
            != latestItem.content
      - if (hasItems)
        include articles
      section#likes
    include footer
    include scripts
