h3 Recommendations

ul
  each article in articles
    li(itemscope itemtype="http://schema.org/Article")
      a(itemprop="url" href= article.link)
        span(itemprop="name")= article.title.toUpperCase()
