/* troubled - the main styles */

$color: #08c;

@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Vollkorn"), url("http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTAsYbbCjybiHxArTLjt7FRU.woff2") format("woff2"); }

body {
  color: #343838;
  background-color: #fff;
  font-family: 'Source Serif Pro', serif; }

h1, h2, h3, h4, h5, h6, nav {
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif; }

h1 {
  font-size: 1.625em;
  letter-spacing: .1em;
  text-transform: uppercase; }

h2 {
  font-size: 2em;
  letter-spacing: .1em;
  text-align: center; }

h3 {
  font-size: 1.25em;
  letter-spacing: .1em; }

h4, h5 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400; }

h4 {
  font-size: 1.25em;
  font-style: italic;
  text-align: center; }

h5 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em; }

pre, code {
  font-family: 'Source Code Pro', monospace;
  background-color: #f7f7f7;
  color: #657b83; }

p pre, p code {
  font-size: 0.813em; }

a, a:visited, a:hover {
  text-decoration: none;
  color: $color }

a h1 {
  color: #343838; }

time {
  font-family: "Fira Sans", sans-serif;
  display: block;
  padding-bottom: 1em;
  font-size: 0.813em;
  color: #999999; }

header {
  text-align: center;
  width: 100%;
  padding-bottom: 1em; }

header p {
  color: #999999;
  font-size: 1em; }

article {
  padding-bottom: 1em; }

article em {
  font-style: italic; }

article p, article ul li {
  line-height: 1.5em;
  font-size: 1.25em;
  list-style: inside disc; }

.editor {
  background: #f7f7f7;
  padding: 1em; }

ul {
  padding: 0;
  width: 100%; }

li {
  list-style: none; }

nav ul, ul#smallprint {
  display: inline;
  width: 100%; }

nav ul li, #page_footer ul#smallprint li {
  display: inline;
  padding-right: 1em; }

nav a, section#likes ul li a {
  letter-spacing: .1em; }

.summary, #summary {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.25em;
  color: $color; }

#summary {
  padding-bottom: 1em; }

#container, #page_footer p {
  margin: 0 auto; }

section#cover, section#articles, section#likes {
  border-top-color: #cccccc;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 1em; }

section#articles {
  padding-bottom: 0; }

section#articles li {
  padding-bottom: 1em; }

section#likes {
  padding-bottom: 2em; }

section#likes ul li {
  margin-bottom: 0.5em;
  text-transform: uppercase; }

p#title {
  text-align: center; }

div#portrait {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center; }

#portrait img {
  width: 215px;
  height: 215px;
  border-radius: 215px;
  margin: 0px auto; }

/* About page icons */
#icons {
  text-align: center;
  width: auto; }

#icons li {
  list-style: none;
}

#icons li a {
  width: 1em; }

#icons li a img {
  width: 7em;
  padding-top: 2em; }

/* Footer */
#page_footer {
  color: #cccccc;
  text-align: center; }

section#tweet {
  padding-bottom: 0.5em;
  padding-right: 3em;
  padding-left: 3em; }

a#understated, #page_footer {
  font-style: italic;
  font-family: 'Vollkorn';
  color: #ccc; }

#page_footer {
  padding: 1em;
  padding-bottom: 2em;
  display: none; }

.no-js #page_footer,
.no-cssgradients #page_footer {
  background-color: #002b36; }

.cssgradients #page_footer {
  background-color: #002b36;
  background-image: -webkit-linear-gradient(top, black 0, #002b36 10px, #002b36); }

#page_footer p {
  font-size: 1.25em;
  padding: 1em; }

#smallprint {
  font-family: Verdana, sans-serif;
  font-size: 0.750em;
  font-style: normal; }

#rss {
  width: 1.6em;
  height: 1.6em;
  vertical-align: bottom;
  box-shadow: 0 0 5px #000; }
