/* troubled - the main styles */

$primary: #cc99cd;
$secondary: #9acd99;

body {
  color: #343838;
  background-color: #f0f0f0;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-size: 1.625em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.25em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h4 {
  color: $secondary;
  font-weight: 600;
  font-size: 1.25em;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
}

pre,
code {
  font-family: "Source Code Pro", monospace;
  background-color: #E0E0E0;
  color: #474747;
}

pre {
  border-radius: 0.4em;
}

article p pre,
article p code {
  font-size: 0.9em;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $primary;
}

a h1 {
  color: #343838;
}

time {
  font-family: "Fira Sans", sans-serif;
  display: block;
  padding-bottom: 1em;
  font-size: 0.813em;
  color: #999999;
}

header {
  text-align: center;
  width: 100%;
  padding: 2em 0 3em 0;
}

header p {
  color: #999999;
  font-size: 1em;
}

article {
  padding-bottom: 1em;
}

article em {
  font-style: italic;
}

article p,
article ul li {
  line-height: 1.5em;
  font-size: 1.25em;
  list-style: inside disc;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 0.3em;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
}

nav ul,
ul#smallprint {
  display: inline;
  width: 100%;
}

nav ul li,
#page_footer ul#smallprint li {
  display: inline;
  padding-right: 1em;
}

section {
  overflow: hidden;
}

nav a,
section#likes ul li a {
  letter-spacing: 0.1em;
}

.summary,
#summary {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.25em;
  color: $primary;
}

#summary {
  padding-bottom: 1em;
}

#container,
#page_footer p {
  margin: 0 auto;
}

section#cover,
section#articles,
section#likes {
  border-top-color: #c7c7c7;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 1em;
}

section#articles {
  padding-bottom: 0;
}

section#articles li {
  padding-bottom: 1em;
}

section#likes {
  padding-bottom: 2em;
}

section#likes ul li {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

p#title {
  text-align: center;
}

div#portrait {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

#portrait img {
  width: 215px;
  height: 215px;
  border-radius: 215px;
  margin: 0px auto;
  opacity: 0.8;
}

/* About page icons */
#icons {
  text-align: center;
  width: auto;
}

#icons li {
  margin-top: 3em;
  list-style: none;
}

#icons li a {
  width: 1em;
}

#icons li a img {
  max-width: 7em;
  max-height: 7em;
}

/* Footer */
#page_footer {
  color: #cccccc;
  text-align: center;
}

a#understated,
#page_footer {
  font-style: italic;
  color: #ccc;
}

#page_footer {
  padding: 1em;
  padding-bottom: 2em;
  display: none;
}

html, #page_footer {
  background-color: #1b091b;
}

#page_footer p {
  font-size: 1.25em;
  padding: 1em;
}

#smallprint {
  font-size: 0.75em;
  font-style: normal;
  font-family: Verdana, sans-serif;
}

#rss {
  width: 1.6em;
  height: 1.6em;
  vertical-align: bottom;
  box-shadow: 0 0 5px #000;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #39393a;
    color: #93a1a1;
  }

  section#cover, section#articles, section#likes {
    border-top-color: #848487;
  }

  a h1 {
    color: #8a9a9b;
  }

  pre,
  code {
    background-color: #2d2d2d;
    color: #848487;
  }
}
